<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('/static/Daredevil.jpg'); background-size: cover; background-repeat: no-repeat;">
   
    <div class="page-container" style="background-color: rgba(0, 0, 0, 0.5);">        
      </div>
      <div class="speech-bubble">
        <p>Day 3!  Neighbors moldy beef stroganoff is still in her fridge...is she harvesting it?</p>
      </div>

    <a href="{{ url_for('page1') }}">page2</a>
    <body class="page2">
  

</body>
</html>